.slider {
    -fx-skin: "com.sun.javafx.scene.control.skin.SliderSkin";
    -fx-font-size: 11px;
}

.slider .thumb {
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 8;
}

.slider .track {
    -fx-background-color: #FFFFFF15;
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 2px;
}

.slider .axis {
    -fx-tick-label-fill: #FFFFFF88;
}

.axis-tick-mark {
    -fx-stroke: #FFFFFF15;
}
.axis-minor-tick-mark {
    -fx-stroke: #FFFFFF15;
}

.slider:hover .axis-tick-mark  {
   -fx-stroke: #FFFFFF20;
}

.slider:hover .axis-minor-tick-mark  {
   -fx-stroke: #FFFFFF20;
}

.slider:hover .axis  {
    -fx-tick-label-fill: #FFFFFFAA;
}

.slider:hover  {
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.6) , 10, 0.2 , 0 , 1 );
}

.slider:hover .thumb {
    -fx-background-insets: -0.5, 0, -0.5;
}

.slider:disabled {
    -fx-opacity: 0.5;
}

